
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions to improve readability
    function isSignedIn() {
      return request.auth != null;
    }

    function isRole(role) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roleType == role;
    }
    
    function isSubRole(subRole) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userSubRole == subRole;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAnchorUser() {
      return isRole('Anchor');
    }
    
    function isAdmin() {
        return isRole('Admin');
    }
    
    function getUserData() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isRequestingAnchor(anchorId) {
        return getUserData().externalId == anchorId;
    }

    // Default Deny: No one can access collections unless explicitly allowed.
    match /{document=**} {
      allow read, write: if false;
    }

    // Users Collection
    match /users/{userId} {
      allow get: if isSignedIn() && (isOwner(userId) || isAdmin());
      allow list: if isSignedIn() && isAdmin();
      allow create, update: if isSignedIn() && isAdmin();
    }
    
    // Programs Collection
    match /programs/{programId} {
        allow read: if isSignedIn();
        allow write: if isSignedIn() && isAdmin();
    }
    
    // Dealers Collection
    match /dealers/{dealerId} {
        allow read: if isSignedIn() && (isAdmin() || (isAnchorUser() && isRequestingAnchor(resource.data.anchorId)));
        allow write: if isSignedIn() && isAdmin();
    }
    
    // DealerLimits Collection
    match /dealerLimits/{limitId} {
        allow read: if isSignedIn() && (isAdmin() || (isAnchorUser() && isRequestingAnchor(get(/databases/$(database)/documents/dealers/$(limitId)).data.anchorId)));
        allow write: if isSignedIn() && isAdmin();
    }

    // Invoices Collection
    match /invoices/{invoiceId} {
      allow read: if isSignedIn() && (isAdmin() || (isAnchorUser() && isRequestingAnchor(resource.data.anchorId)));
      allow create: if isSignedIn() && (isAnchorUser() && isRequestingAnchor(request.resource.data.anchorId));
      allow update: if isSignedIn() && isAdmin();
    }

    // UpcomingPayments Collection
    match /upcomingPayments/{paymentId} {
        allow read: if isSignedIn() && (isAdmin() || (isAnchorUser() && isRequestingAnchor(resource.data.anchorId)));
        allow write: if false;
    }

    // InvoiceConsents Collection - Public access for dealer interaction via token
    match /invoiceConsents/{consentId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update: if true;
    }
  }
}
